
/* Media Queries */


@media screen and (min-width: 992px) {
    .button-menu {
        display: none;
    }
  }

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
    .home {
        padding: 1rem 4rem;
    }
}
@media (max-width:991px) {
    /* header {
        left: -120%;
    } */

    header {
        position: relative;
        top: 0;
        width: 100%;

    }
   

    #humberger-menu {
        display: none;
    }
    #menu {
        display: block;
    }
    header.toggle {
        left: 0%;
    }
    body {
        padding: 0;
        width: 100%;
        
    }

    .home {
        padding: 0rem 10rem;
        min-height: 70vh;
        margin-top: 0rem;
        
    }

    .home .home-left {
        position: relative;
        margin-top: -30rem;
    }
    



    .btn-thema .btn-tema button {
        top: 50%;
        position: fixed;
    }

    

    
}
@media (max-width:768px) {
    html {
        font-size: 50%;
    }
}
@media (max-width:400px) {
   header {
       width: 100vw;
   }
   .heading {
       margin: 0 3rem;
   }
   .about .row .counter .box {
       width: 100%;
   }
   .education .box-container .box {
       width: 100%;
   }
   .portfolio .box-container .box {
       width: 100%;
   }
   .contact .row form {
       margin: 3rem 0;
   }
}