
/*
@font-face {
   font-family: "Dicoding Font";
   src: url('FILE-FONT.TTF');
}

*/

.btn-thema {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.btn-thema .btn-tema {
    height: 10rem;
    width: 10rem;
    margin: 2rem;
}

.btn-thema .btn-tema button {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    z-index: 9999;
    position: fixed; 
    bottom: 5%;  
    border-radius: 50%; 
}

.home .home-right .all-button-tema {
    width: 10rem;
    height: 50rem;
}

.home .home-right .all-button-tema .button-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.home .home-right .all-button-tema .button-box button {
    padding: 1rem;
}

.all-button-tema {
    display: none;
}

